
<h1>Name of the game here.</h1>
<p>Click on the buttons below to select a category:</p>

<div id="cardContainer" >
    <div>Your Card here</div>
    <div>Opponent Card</div>
</div>

<button> Height         </button>
<button> Combat Skills  </button>
<button> Force          </button>
<button> Dark Side      </button>
<button> Brains         </button>

<p>Number of cards in your deck:...</p>
