@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="text-center">
    <h1 class="display-4">Welcome to Top Trumps</h1>
    <br><br><br>
    <p>A battle to the death between heroes and titans</p><br>
    <p>Fight your way through the ranks of the arena</p><br>
    <p>Battle together with your friends</p>
</div>
