html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px;
  border-color: black;
}
#cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: scroll;
}
#cardContainer form{
  display: flex;
  background-color: azure;
}
#cardContainer tr{
  flex-direction: column;
}
#cardContainer input,select,div{
  flex-grow: 1;
  flex-direction: row;
}